@use "variables" as vars;

.card {
    background-color: vars.$fondoCarta;
    border: 1px solid vars.$colorBorde;
    padding: vars.$espacioPadding;
    border-radius: vars.$borderRadius;

    &__title {
        color: vars.$colorFuente;
        font-family: vars.$fuentePrincipal;
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    &__button {
        background-color: vars.$colorBoton;
        color: vars.$colorFuente;
        border: none;
        padding: 8px 20px;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            background-color: vars.$colorHover;
        }
    }

    &--highlighted {
        background-color: #ff0000;
    }
    &__content {
    color: vars.$colorFuente;
    font-size: vars.$fuenteTamaño;
    margin-bottom: 10px;
}
}
